<h2>Edit butterfly</h2>

<form method="post" action="/butterflies/<%= @butterfly.id %>">
  <label for="name">Name:</label>
  <input id="name" name="name" placeholder="Gaudy Commodore" value="<%= @butterfly.name %>">

  <label for="image">Image:</label>
  <input type="url" id="image" name="image" value="<%= @butterfly.image %>" placeholder="http://something.com/whatever.jpg" >

  <label for="family">Family:</label>
  <input id="family" name="family" placeholder="Nymphalidae" value="<%= @butterfly.family %>">

  <label>Larval plant: </label>
  <select name="plant_id">
    <option value=""></option>
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>" <%= "selected" if plant.id == @butterfly.plant_id %>><%= plant.name %></option>
    <% end %>
  </select>

  <button>Update butterfly</button>
</form>
