<div class="butterfly">
  <img src="<%= @butterfly.image %>">

  <h2><%= @butterfly.name %></h2>

  <p>Family: <em><%= @butterfly.family %></em></p>

  <% if @butterfly.plant %>
    <p>Larval plant:
      <em>
        <a href="/plants/<%= @butterfly.plant.id %>">
          <%= @butterfly.plant.name %>
        </a>
      </em>
    </p>
  <% end %>

  <section>
    <a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
    <a href="/butterflies/<%= @butterfly.id %>/delete">Delete</a>
  </section>
</div>