<%= form_for @work do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </p>

  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <p>
    <%= f.label :artist_id %>
    <%= f.select :artist_id, Artist.all.map {|artist| [artist.name, artist.id] }, :include_blank => true, :prompt => 'Select artist' %>
  </p>

  <label></label>
  <%= f.submit %>

<% end %>