<%= form_for @artist do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </p>

  <p>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </p>

  <p>
    <%= f.label :period %>
    <%= f.text_field :period %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <label></label>
  <%= f.submit %>
<% end %>
