<!DOCTYPE html>
<html>
<head>
  <title>Solarsystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to('Planets', planets_path) %></li>
    <li><%= link_to('New Planet', planets_new_path) %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
