<a href="#">Home</a>

<h1>Backbone Blog</h1>

  <div id="main"></div>

  <script type="template/html" id="appView">
    <h2>Recent Posts</h2>
    <ul id="posts"></ul>
    <a href="#" id="newPost">New post</a>
  </script>

  <script type="template/handlebars" id="postListView">
    {{ title }}
  </script>

  <script type="template/handlebars" id="postView">
    <div class="post">
      <h2>{{ title }}</h2>
      <h4>{{ slug }}</h4>
      <p>{{ content }}</p>
    </div>
  </script>

  <script type="template/html" id="postNewView">
    <h2>New Post</h2>
    <%= form_for Post.new do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, :required => true %>
      </p>

      <p>
        <%= f.label :slug %><br>
        <%= f.text_field :slug, :required => true %>
      </p>

      <p>
        <%= f.label :content %><br>
        <%= f.text_area :content, :required => true %>
      </p>

      <%= f.submit %>
    <% end %>
  </script>