<p>
  Task: <%= @task.description %>
</p>

<p>
  Completed: <%= @task.completed %>
</p>

<p>
  Created at: <%= @task.created_at %>
</p>

<p>
  <%= link_to('Edit', edit_task_path(@task)) %>
  <%= link_to('Delete', @task, :method => 'delete') %>
</p>