<p>There are <%= pluralize(@person_count1, 'person') %> signed up for office hours.</p>
<p>There are <%= pluralize(@person_count2, 'person') %> signed up for office hours.</p>

<p><%= truncate(@story, :length => 20) %></p>

<ul>
  <% @numbers.each do |num| %>
    <li style="background-color:<%= cycle('red', 'green', 'orange', 'purple') %>;">
      <%= num %>
    </li>
  <% end %>
</ul>