= form_tag '/login', :class => 'form-inline' do
  %div.form-group
    = label_tag :username
    = text_field_tag :username, nil, :autofocus => true, :class => 'form-control'

  %div.form-group
    = label_tag :password
    = password_field_tag :password, nil, :class => 'form-control'

  = submit_tag 'Login', :class => 'btn btn-default'